### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data.head()
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
total_schools=school_data['school_name'].count()
total_schools

15

In [5]:
total_students=student_data['Student ID'].count()
total_students

39170

In [6]:
total_budget=school_data_complete.groupby(["school_name"]).mean()["budget"].sum()
total_budget

24649428.0

In [7]:
math_average=student_data['math_score'].mean()
math_average

78.98537145774827

In [8]:
reading_average=student_data['reading_score'].mean()
reading_average

81.87784018381414

In [9]:
passing_math=school_data_complete[school_data_complete['math_score'] >=70].count()['student_name']
passing_math_P=passing_math/total_students*100
passing_math_P

74.9808526933878

In [15]:
cpassing_reading=school_data_complete[school_data_complete['reading_score'] >=70].count()['student_name']
passing_reading_P=passing_reading/total_students*100
passing_reading_P

85.80546336482001

In [11]:
# combine dataframe
a_dict= {"Total_Schools":[total_schools],
          "Total_Students":[total_students],
          "Total_Budget":[total_budget],
          "Average_Reading_Score":[math_average],
          "Average_Math_Score":[reading_average],
          "%_Passing_Math":[passing_math_P],
          "%_Passing_Reading":[passing_reading_P],
          "%_Overall_Passing":[overall_P]}   

district_summary_df=pd.DataFrame(a_dict)
district_summary_df['Total_Students']=district_summary_df['Total_Students'].map('{:,}'.format)
district_summary_df['Total_Budget']=district_summary_df['Total_Budget'].map('${:,.2f}'.format)
district_summary_df

NameError: name 'overall_P' is not defined

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
school_type=school_data.set_index(['school_name'])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
per_school_summary = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
per_school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,39170,24649428.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,39170,24649428.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,39170,24649428.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,39170,24649428.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,39170,24649428.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
per_school_summary = per_school_summary.sort_values(["% Overall Passing"], ascending=True)
per_school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,39170,24649428.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,39170,24649428.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,39170,24649428.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,39170,24649428.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,39170,24649428.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
ninth_grade=school_data_complete[(school_data_complete['grade'] == "9th")] 
tenth_grade=school_data_complete[(school_data_complete['grade'] == "10th")]
eleventh_grade=school_data_complete[(school_data_complete['grade'] == "11th")]
twelth_grade=school_data_complete[(school_data_complete['grade'] == "12th")]


ninth_grader_scores = ninth_grade.groupby(["school_name"]).mean()
tenth_grader_scores = tenth_grade.groupby(['school_name']).mean()
eleventh_grader_scores = eleventh_grade.groupby(["school_name"]).mean()
twelth_grader_scores = twelth_grade.groupby(["school_name"]).mean()

scores9=ninth_grader_scores["math_score"]
scores10=tenth_grader_scores["math_score"]
scores11=eleventh_grader_scores["math_score"]
scores12=twelth_grader_scores["math_score"]

maths_scores_df=pd.DataFrame({
    '9th':scores9,
    '10th':scores10,
    '11th':scores11,
    '12th':scores12
})
maths_scores_df.index.name=None

maths_scores_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
ninth_grade=school_data_complete[(school_data_complete['grade'] == "9th")] 
tenth_grade=school_data_complete[(school_data_complete['grade'] == "10th")]
eleventh_grade=school_data_complete[(school_data_complete['grade'] == "11th")]
twelth_grade=school_data_complete[(school_data_complete['grade'] == "12th")]


ninth_grader_scores = ninth_grade.groupby(["school_name"]).mean()
tenth_grader_scores = tenth_grade.groupby(['school_name']).mean()
eleventh_grader_scores = eleventh_grade.groupby(["school_name"]).mean()
twelth_grader_scores = twelth_grade.groupby(["school_name"]).mean()

scores9=ninth_grader_scores["reading_score"]
scores10=tenth_grader_scores["reading_score"]
scores11=eleventh_grader_scores["reading_score"]
scores12=twelth_grader_scores["reading_score"]

reading_scores_df=pd.DataFrame({
    '9th':scores9,
    '10th':scores10,
    '11th':scores11,
    '12th':scores12
})
reading_scores_df.index.name=None

reading_scores_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

NameError: name 'pd' is not defined

In [14]:
spending_math_score=

SyntaxError: invalid syntax (204487455.py, line 1)

In [ ]:
school_spending_df=pd.DataFrame({
    "Average Math Score":spending_math_score,
    "Average Reading Score":spending_reading_score,
    "% Passing Math":spending_passing_math,
    "% Passing Reading":spending_passing_reading,
    "% Passing Overall":spending_overall
})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# establish bins
spending_bins = [0, 1000, 2000, 5000]
school_size=["<1000", "1000-2000", "2000-5000"]

school_spending_df=per_school_summary.copy()

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# establish bins
school_name= ["Charter", "District"]

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_type, spending_bins, labels=group_names, right=False)

TypeError: '<' not supported between instances of 'int' and 'str'